.toggle {
  width: 30px;
  display: flex;
  padding: 0.2em;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 1em;
  box-shadow: 0 0 6px rgb(199, 197, 197);
}

.toggle--on {
  background: rgb(149, 193, 196);
  flex-direction: row-reverse;
}

.toggle--off {
  background: rgb(194, 191, 191);
}

.toggle__button {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: #eee;
  box-shadow: 0 0 6px rgb(207, 205, 205);
}

.toggle__button--on {
  background: red;
}

.toggle__button--off {
  background: blue;
}