@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');

// TODO: find a way to import all scss files under components
@import 'components/DisplayModeToggle/DisplayModeToggle.scss';
@import 'components/Toggle/Toggle.scss';
@import 'templates/FileTemplate/FileTemplate.scss';
@import 'components/Heading/Heading.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
